@media print
{
	table {page-break-after:always;border:1px solid #DDD;}
}
div#preload { display: none; }

body {
	background-image:url('../img/background6.png');
	transition: background 1s linear;
	}

.paypal-button { white-space: nowrap; overflow: hidden; border-radius: 13px; font-family: "Arial", bold, italic; font-weight: bold; font-style: italic; border: 1px solid #ffa823; color: #0E3168; background: #ffa823; position: relative; text-shadow: 0 1px 0 rgba(255,255,255,.5); cursor: pointer; z-index: 0; }
.paypal-button:before { content: " "; position: absolute; width: 100%; height: 100%; border-radius: 11px; top: 0; left: 0; background: #ffa823; background: -webkit-linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%); background: -moz-linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%); background: -ms-linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%); background: linear-gradient(top, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%); z-index: -2; }
.paypal-button:after { content: " "; position: absolute; width: 98%; height: 60%; border-radius: 40px 40px 38px 38px; top: 0; left: 0; background: -webkit-linear-gradient(top, #fefefe 0%, #fed994 100%); background: -moz-linear-gradient(top, #fefefe 0%, #fed994 100%); background: -ms-linear-gradient(top, #fefefe 0%, #fed994 100%); background: linear-gradient(top, #fefefe 0%, #fed994 100%); z-index: -1; -webkit-transform: translateX(1%);-moz-transform: translateX(1%); -ms-transform: translateX(1%); transform: translateX(1%); }
.paypal-button.large { padding: 4px 19px; font-size: 14px; }

.ts_frame{
	margin:5px;
	margin-top:20px;
	width:240px;
	height:348px;
}

.name_label{
	font-size:12px;
}

.user_well{
	cursor:pointer;
}

.user_well:hover
{
	background-color:#FF9;
}

.event_attendee_count
{
  	font-size:500%;
}

.toptilmeldt {
  margin-top: 45px;
}

.navbar-inverse {

	margin-top: -30px;

    color: #777777;
  height: 70px;

 
}
#venstre {
	color
}

.navbar-inner-left{
	margin-left: 100px;
}

.no_overflow{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	
}

/*
	Seating table related styles
*/

.table-table{
	table-layout:fixed;
}	

.table-table .left{
	text-align:right;
}

.table-table col{
	width:55px;
}

.table-table col.name_column{
	width:50%;
}	
	
.table-table td:nth-child(3){
	border-right:1px solid #dddddd;
}

.table-table td[rowspan='2']{
	vertical-align:middle !important;
	height:74px; /*Ugly fix for if two double tables are opposite each other*/
}

.table-table tr:nth-child(2n+3) td{
	border-top:1px solid #444444;
}

.draggable_name
{
	cursor:move;
	z-index:9;
}




.game-row
{
	overflow-x: scroll;
	overflow-y: hidden;
	height: 180px;
}
.game-row ul
{
	list-style:none;
	display:block;
	white-space:nowrap;
}
.game-row ul li
{
	display:inline;
	padding-right:20px;
}
.game-row img, .game-image
{
	height:150px;
}
.wysiwyg
{

}
.normalwysiwyg
{
	height:600px;
	width:700px;
}
.smallwysiwyg
{
	height: 300px;
	
}
.permissionDenied
{
	color:red;
	text-align:center;
}

#myCarousel
{

  margin-top: -20px;
}


#forside{

  position: relative;
  
}

#nyheder {

border-right: 1px;
border-right-color: #000000;
  position: relative;
}

#arrangementer {
	  position: relative;
	 }

#medlemmer{
	
  position: relative;
		
}



#mglogo {
	margin-top: -15px;
	margin-bottom: -22px;
}

#logind{
	}

#spildias {}

@media (min-width: 767px) {
#buttons{
float:right;
position:relative;
left:-50%;
text-align:left;
}

#buttons li{float:left;position:relative;}/* ie needs position:relative here*/


#buttons ul{
list-style:none; 
position:relative;
left:50%;
}

#buttons a{
text-decoration:none;


white-space:nowrap;	

}

#knapper {
position:absolute;
right:0;
margin-right: 15px;
}
}

#spil {
	margin-top: -20px;
}

.inlineForm
{
	display:inline;
}
p.whiteText
{
	color:#000000;
}
h2.whiteText
{
	color: red !important;
}
.right {
  float: right;
}
.newstextsize {
  font-size: 24px;
  text-align: center;
}
.skiftkode {
 -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);
  margin-bottom: 1px;
}

.gemovernatninger{
  margin-top: 15px;
  
}


/*bootstrap configs------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

strong {
  font-weight: bold;
   color: #000000;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;

}

a:hover,
a:focus {
  color: #2a6496;

}
.h1 {
  font-size: 36px;
  color: #000000;
        font-weight: bold;
}
.h2 {
  font-size: 30px;
      font-weight: 900;
       color: #000000;
}
.h3 {
  font-size: 24px;
    font-weight: bold;
}
.row {
max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }
.help-block {
  font-size:14px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
   display: none;
  float: left;
   min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  background: -moz-linear-gradient(top,  rgba(252,252,252,0.9) 0%, rgba(252,252,252,0.9) 37%, rgba(188,188,188,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.9)), color-stop(37%,rgba(252,252,252,0.9)), color-stop(100%,rgba(188,188,188,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6fcfcfc', endColorstr='#e6bcbcbc',GradientType=0 ); /* IE6-9 */
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
}

.navbar-collapse {
text-align: left;
  max-height: 640px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
background: rgb(188,188,188); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(188,188,188,1) 0%, rgba(252,252,252,1) 38%, rgba(252,252,252,1) 60%, rgba(188,188,188,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(38%,rgba(252,252,252,1)), color-stop(60%,rgba(252,252,252,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 40px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: right;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
   margin: 0;
    padding: 0;
    height: 70px;
    border-left: 1px solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);
    float:left;
   text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);

  }
  .navbar-nav > li {
    float: left;

  }
  .navbar-nav > li > a {
  
    display: block;
    padding: 0 20px;
    border-left: 1px  solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);

    text-align: center;
    line-height: 70px;


background: rgb(188,188,188); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(188,188,188,1) 0%, rgba(252,252,252,1) 38%, rgba(252,252,252,1) 60%, rgba(188,188,188,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(38%,rgba(252,252,252,1)), color-stop(60%,rgba(252,252,252,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(252,252,252,1) 38%,rgba(252,252,252,1) 60%,rgba(188,188,188,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
  }

.navbar-nav > li > a:hover{
   background: transparent none;
}
.navbar-nav > li.active > a{

background: rgb(10,8,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(110,120,117,1) 0%, rgba(10,14,10,1) 100%, rgba(175,188,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,8,9,1)), color-stop(0%,rgba(110,120,117,1)), color-stop(100%,rgba(10,14,10,1)), color-stop(100%,rgba(175,188,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#afbcbf',GradientType=0 ); /* IE6-9 */

  }

.navbar-nav > li {
    list-style: none;
    float:left;
    height: 70px;
    text-align: center;
background: rgb(10,8,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(110,120,117,1) 0%, rgba(10,14,10,1) 100%, rgba(175,188,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,8,9,1)), color-stop(0%,rgba(110,120,117,1)), color-stop(100%,rgba(10,14,10,1)), color-stop(100%,rgba(175,188,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(110,120,117,1) 0%,rgba(10,14,10,1) 100%,rgba(175,188,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#afbcbf',GradientType=0 ); /* IE6-9 */
    }
  }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
            color: #222222;
    
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FEFDFD;
}
 
.navbar-inverse .navbar-nav > .open > a {
  color: #000000;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav > .open > a:focus
 {
  color: #000000;

}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1 {
    font-size: 63px;
  }
}

.panel {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background: -moz-linear-gradient(top,  rgba(252,252,252,0.9) 0%, rgba(252,252,252,0.9) 37%, rgba(188,188,188,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.9)), color-stop(37%,rgba(252,252,252,0.9)), color-stop(100%,rgba(188,188,188,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6fcfcfc', endColorstr='#e6bcbcbc',GradientType=0 ); /* IE6-9 */
background-origin: padding-box;
background-size: auto;
color: #000000;
display: block;
font-family: 'lucida grande', verdana, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 21px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 20px;
padding-bottom: 18px;
padding-left: 28px;
padding-right: 21px;
padding-top: 10px;
 box-shadow:inset 0 0 10px #000000; 
  -moz-box-shadow:inset 0 0 10px #000000; 

  
}

.panel-heading {
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #080808;
}

.panel-footer {
  padding: 10px 15px;
 color: rgb(119, 119, 119);
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default > .panel-heading {
background-clip: border-box;
background: -moz-linear-gradient(top,  rgba(252,252,252,0.9) 0%, rgba(252,252,252,0.9) 37%, rgba(188,188,188,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.9)), color-stop(37%,rgba(252,252,252,0.9)), color-stop(100%,rgba(188,188,188,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6fcfcfc', endColorstr='#e6bcbcbc',GradientType=0 ); /* IE6-9 */
-moz-box-shadow: 0px 0px 5px #888;
-webkit-box-shadow: 0px 0px 5px #888;
box-shadow: 0px 0px 5px #888;
text-align: center;
    font-weight: bold;}

.well {
  margin-top: 5px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 5px;
background-clip: border-box;
background: -moz-linear-gradient(top,  rgba(252,252,252,0.9) 0%, rgba(252,252,252,0.9) 37%, rgba(188,188,188,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.9)), color-stop(37%,rgba(252,252,252,0.9)), color-stop(100%,rgba(188,188,188,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,0.9) 0%,rgba(252,252,252,0.9) 37%,rgba(188,188,188,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6fcfcfc', endColorstr='#e6bcbcbc',GradientType=0 ); /* IE6-9 */

 box-shadow:inset 0 0 10px #000000; 
  -moz-box-shadow:inset 0 0 10px #000000; 
  color: rgb(119, 119, 119);

  border-radius: 4px;
  margin-right: 10px;

}

.modal-backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  background-color: #000000;
}

.carousel {
  position: relative;
  -webkit-box-shadow: 0 10px 25px -2px #000000;
   -moz-box-shadow: 0 10px 25px -2px #000000;
        box-shadow: 0 10px 25px -2px #000000;

}

.polaroid-images {
  margin-top: 70px;
  margin-left: 30px;
}
.polaroid-images a
{
    background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
        position:relative;
}
.polaroid-images a:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top:15px;
}
.polaroid-images img { 
  display: block; 
  width: inherit; 
}
.polaroid-images a:nth-child(2n)
{
  -webkit-transform: rotate(4deg);  
  -moz-transform: rotate(4deg); 
  transform: rotate(4deg); 
}
.polaroid-images a:nth-child(3n) { 
  -webkit-transform: rotate(-24deg);  
  -moz-transform: rotate(-24deg); 
  transform: rotate(-24deg); 
}
.polaroid-images a:nth-child(4n)
{
  -webkit-transform: rotate(14deg);  
  -moz-transform: rotate(14deg); 
  transform: rotate(14deg); 
}
.polaroid-images a:nth-child(5n)
{
  -webkit-transform: rotate(-18deg);  
  -moz-transform: rotate(-18deg); 
  transform: rotate(-18deg); 
}
.polaroid-images a:hover{
  -webkit-transform: rotate(0deg); 
  -moz-transform: rotate(0deg);
        transform: rotate(0deg);
  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2);
        transform: scale(1.2);
  z-index:10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

.iframe {
-webkit-box-shadow: 0 4px 4px -2px #000000;
   -moz-box-shadow: 0 4px 4px -2px #000000;
        box-shadow: 0 4px 4px -2px #000000;

}
.rubrikker {

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background: -moz-linear-gradient(top,  rgba(160,160,160,0.9) 0%, rgba(239,239,239,0.9) 39%, rgba(239,239,239,0.9) 60%, rgba(160,160,160,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,0.9)), color-stop(39%,rgba(239,239,239,0.9)), color-stop(60%,rgba(239,239,239,0.9)), color-stop(100%,rgba(160,160,160,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(160,160,160,0.9) 0%,rgba(239,239,239,0.9) 39%,rgba(239,239,239,0.9) 60%,rgba(160,160,160,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(160,160,160,0.9) 0%,rgba(239,239,239,0.9) 39%,rgba(239,239,239,0.9) 60%,rgba(160,160,160,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(160,160,160,0.9) 0%,rgba(239,239,239,0.9) 39%,rgba(239,239,239,0.9) 60%,rgba(160,160,160,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(160,160,160,0.9) 0%,rgba(239,239,239,0.9) 39%,rgba(239,239,239,0.9) 60%,rgba(160,160,160,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6a0a0a0', endColorstr='#e6a0a0a0',GradientType=0 ); /* IE6-9 */


background-origin: padding-box;
background-size: auto;
color: #000000;
display: block;
font-family: 'lucida grande', verdana, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: 900;
line-height: 21px;
margin-bottom: 0px;
margin-left: -15px;
margin-right: -6px;
margin-top: 20px;
padding-bottom: 18px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
 box-shadow:inset 0 0 10px #000000; 
  -moz-box-shadow:inset 0 0 10px #000000; 

}

.borde {
  margin-right: -85px;
  margin-left: -85px;
}
.overnatninger{
  margin-right: -10px;
  margin-top: 20px;
}
.turneringer {
  margin-bottom: 20px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #000000;
}

a {
  color: #428bca;
  text-decoration: none;
   text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, .75);
 
}
#asgers_baggrunds_div{
	z-index:-10;
}

@media (max-width: 1279px) {
#asgers_baggrunds_div
 {
display:none;
}
#asgers_baggrunds_div_fade
   {
display:none;
}
}